<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>Random Numbers Distributor</servlet-name>
		<servlet-class>rnds.distribution.RandomNumbersDistributor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Random Numbers Distributor</servlet-name>
		<url-pattern>/GenerateRandomBits.do</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>Binary Random Numbers Distributor</servlet-name>
        <servlet-class>rnds.distribution.BinaryRandomNumbersDistributor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Binary Random Numbers Distributor</servlet-name>
        <url-pattern>/GenerateBinaryRandomBits.do</url-pattern>
    </servlet-mapping>
</web-app>
