<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

	<servlet>
		<servlet-name>Random Numbers Distributor</servlet-name>
		<servlet-class>rnds.distribution.RandomNumbersDistributor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Random Numbers Distributor</servlet-name>
		<url-pattern>/GenerateRandomBits.do</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>Binary Random Numbers Distributor</servlet-name>
        <servlet-class>rnds.distribution.BinaryRandomNumbersDistributor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Binary Random Numbers Distributor</servlet-name>
            <url-pattern>/GenerateBinaryRandomBits.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>randomNumbersSource</param-name>
        <param-value>/opt/RandomNumbersSource</param-value>
    </context-param>
</web-app>
